.history__item {
  position: relative;
  padding-left: 18px; }
  .history__item:hover .history__item-remove {
    display: inline; }

.history__item-remove {
  position: absolute;
  top: 0;
  left: 0;
  color: #aaa; }
  .history__item-remove .material-icons {
    font-size: 14px; }

.note {
  display: relative;
  padding: 15px 0; }

.note__remove {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa; }
  .note__remove .material-icons {
    font-size: 14px; }

.note-form__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999; }

.popover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 40px;
  width: 200px;
  top: -40px;
  left: calc(50% - 200px/2);
  background-color: #777;
  color: #fff;
  border-radius: 10px;
  opacity: 0.9; }
  .popover:after {
    content: ' ';
    position: absolute;
    left: calc(50% - 25px/2);
    bottom: -20px;
    height: 0;
    width: 0;
    border-top: 10px solid #777;
    border-bottom: 10px solid transparent;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent; }

.popover__icon {
  font-size: 36px; }

.popover__spacer {
  display: inline-block;
  width: 0;
  height: 75%;
  border-left: 2px solid #888; }

.verse {
  position: relative;
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer; }

.verse--highlight {
  background-color: #FFF89E; }

.verse--circle {
  border: 1px solid #333;
  border-radius: 3px; }

.verse--underline {
  border-bottom: 3px solid #333; }
  .verse--underline.verse--circle {
    border-bottom: 5px double #333; }
