.history {

}

.history__item {
  position: relative;
  padding-left: 18px;

  &:hover {
    .history__item-remove {
      display: inline;
    }
  }
}

.history__item-remove {
  position: absolute;
  top: 0;
  left: 0;
  color: #aaa;

  .material-icons {font-size: 14px;}
}
